<table class="table-auto w-full">
    <thead>
      <tr>
        <th class="px-4 py-2">Usuarios</th> 
        <th class="px-4 py-2">Email</th>
        <th class="px-4 py-2">Localidad</th>
        <th class="px-4 py-2">DNI</th>
        <th class="px-4 py-2">Fecha de nacimiento</th>
        <th class="px-4 py-2">Tipo de vivienda</th>
        <th class="px-4 py-2">Teléfono</th>
        <th class="px-4 py-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usuario">
        <td class="border px-4 py-2">{{user.nombre}}</td>
        <td class="border px-4 py-2">{{user.email}}</td> 
        <td class="border px-4 py-2">{{user.ciudad}}</td>
        <td class="border px-4 py-2">{{user.dni}}</td>
        <td class="border px-4 py-2">{{user.fechaDeNacimiento}}</td>
        <td class="border px-4 py-2">{{user.tipoDeVivienda}}</td>
        <td class="border px-4 py-2">{{user.telefono}}</td>
        <div>
            <!--Botones-->
        </div>
      </tr>
    </tbody>
  </table>
