<table class="table-auto w-full">
    <thead>
      <tr>
        <th class="px-4 py-2">Usuarios</th> 
        <th class="px-4 py-2">Email</th>
        <th class="px-4 py-2">Localidad</th>
        <th class="px-4 py-2">DNI</th>
        <th class="px-4 py-2">Fecha de nacimiento</th>
        <th class="px-4 py-2">Tipo de vivienda</th>
        <th class="px-4 py-2">Teléfono</th>
        <th class="px-4 py-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of usuario">
        <td class="border px-4 py-2">{{usuario.nombre}}</td>
        <td class="border px-4 py-2">{{usuario.email}}</td> 
        <td class="border px-4 py-2">{{usuario.localidad}}</td>
        <td class="border px-4 py-2">{{usuario.dni}}</td>
        <td class="border px-4 py-2">{{usuario.nacimiento}}</td>
        <td class="border px-4 py-2">{{usuario.vivienda}}</td>
        <td class="border px-4 py-2">{{usuario.telefono}}</td>
        <div>
            <!--Botones-->
        </div>
      </tr>
    </tbody>
  </table>
