<div [id]="'modal-reportar-publicacion-'+animalId" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      
      <div>
        <ul>
          <li *ngFor="let motivo of motivosReporte" class="hover:bg-gray-100 p-2 flex justify-between items-center" (click)="toggleCheckbox(motivo)">
            <span>{{motivo}}</span>
            <app-input-checkbox [idInput]="motivo+'-checkbox'" [control]="getControl(motivo)"></app-input-checkbox>
          </li>
        </ul>
      </div>

      <div class="flex items-center px-8 pb-6 pt-8 border-gray-200 rounded-b">
        <app-button class="primary w-full" contenido="Solicitar adopción"></app-button>
      </div>
    </div>
  </div>
</div>
