label{
    color: var(--neutral-secundario-100)
}

input{
    color: var(--neutral-primario);
    border-color: var(--neutral-secundario-100);
}

input:focus{
    border-color: var(--primario-100);
}

input:focus~label{
    color: var(--primario-100);
}

/* Remover color de fondo al autocompletado de chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}