<div class="flex p-4 flex-col w-full gap-4">
  <h3  class="text-xl font-semibold text-gray-900 dark:text-white">Filtros</h3>

  <app-select idSelect="animal" label="Animal" [list]="animal"></app-select>

  <div>
    <h6 class="text-neutral-secundario-100">Sexo</h6>
    <app-input-radio valueInput="macho" name="sexo"></app-input-radio>
    <app-input-radio valueInput="mujer" name="sexo"></app-input-radio>
  </div>
  <app-input-checkbox idInput="castrado" label="Castrado"></app-input-checkbox>

  <app-search-select idInput="raza" idList="razas" label="Raza" [list]="razas"></app-search-select>

  <app-select idSelect="edad" label="Edad" [list]="edad"></app-select>

  <app-select idSelect="provincia" label="Provincia" [list]="provincia"></app-select>

  <app-select idSelect="ciudad" label="Ciudad" [list]="ciudad"></app-select>
</div>
