<form [formGroup]="reportarUsuario" [id]="'modal-reportar-usuario-'+usuarioId" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white flex flex-col gap-4 rounded-lg shadow py-6 px-8">
      <!-- Modal header -->
      <div class="flex items-center justify-between pb-2 border-b">
        <h3 class="text-xl font-semibold text-neutral-primario">Reportar usuario</h3>
        <!-- BOTON PARA CERRAR EL MODAL -->
        <button type="button" class="text-neutral-secundario-50 bg-transparent hover:bg-gray-200 hover:text-neutral-secundario-100 rounded-full text-sm w-8 h-8 ml-auto inline-flex justify-center items-center" [attr.data-modal-hide]="'modal-reportar-usuario-'+usuarioId">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M18 6 6 18"/><path d="m6 6 12 12"/>
          </svg>
            <span class="sr-only">Close modal</span>
        </button>
      </div>

      <div>
        <ul>
          <li *ngFor="let motivo of motivosReporte" class="hover:bg-gray-100 p-2 flex justify-between items-center" (click)="toggleCheckbox(motivo)">
            <span>{{motivo}}</span>
            <app-input-checkbox [idInput]="motivo+'-checkbox'" [control]="getControl(motivo)"></app-input-checkbox>
          </li>
        </ul>
      </div>

      <app-textarea label="Descripción del reporte" [rows]="5"></app-textarea>

      <div class="flex items-center border-gray-200 rounded-b">
        <app-button class="primary w-full" contenido="Reportar"></app-button>
      </div>
    </div>
  </div>
</form>
