<div [id]="'modal-reportar-usuario-'+usuarioId" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">

        <div class="flex items-center px-8 pb-6 pt-8 border-gray-200 rounded-b">
          <app-button class="primary w-full" contenido="Solicitar adopción"></app-button>
        </div>
    </div>
  </div>
</div>
