<!--primer componente-->
<div class="row">
    <div class="contenedor">
        <div class="columnaIzq">
            <h1>texto tecto fds gdfd</h1>
            <p>texto texto textotextotextotexto texto texto textotextotextotextotexto</p>

            <button type="button" class="botonIzq">ver animales</button>
            <button type="button" class="botonDere">Dar en adopcion</button>
        </div>


        <div class="columnaDere">
            <img src="../../../../../assets/Img perro y gato.jpg" alt="width: 80;">
        </div>

    </div>
</div>

<!--segundo componente-->
<!-- <div class="row">
    <h1>Servicios</h1>
    <div class="contenedor">
        <div class="columnaI">
            <img src="../../../../../assets/image.1.png" class="imgizquierdo">

            <button type="button" class="botoni">ver animales</button>
        </div>
        <div class="columnaD">
            <img src="../../../../../assets/image.1.png" class="imgderecho">

            <button type="button" class="botond">Dar en adopcion</button>
        </div>
    </div>
</div> -->

<div class="contenedor">
    <div class="row">
        <h1 class="h2">Servicios</h1>
        <div class="col" *ngFor="let i of info" id="contenido">
            <!-- LEE NUESTRO ARRAY INFO -->                
                <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title class="titulo"></mat-card-title>
                </mat-card-header>
                <!-- APLICAMOS INTERPOLACIÓN ej: {{i.imagen}} -->
                <img mat-card-image class="imagen" src="{{i.imagen}}" alt="{{i.alt}}" width="300%">
                    
                <mat-card-content>
                    <p>
                        {{i.descripcion}}
                    </p>
                </mat-card-content>
                    
                <mat-card-actions>
                    <button mat-button class="boton">{{i.boton}}</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>