
<div class="row">
    <div class="contenedor">
        <div class="columnaIzq">
            <h1>texto tecto fds gdfd</h1>
            <p>texto texto textotextotextotexto texto texto textotextotextotextotexto</p>
            
            <button type="button" class="botonIzq">ver animales</button>
            <button type="button" class="botonDere">Dar en adopcion</button>
        </div>    
        <div class="columnaDere">
            <img src="../../../../../assets/Img perro y gato.jpg" alt="width: 80;">
        </div>

    </div>
</div>    
