<!--primer componente-->
<div class="row">
    <div class="contenedor">
        <div class="columnaIzq">
            <h1>texto tecto fds gdfd</h1>
            <p>texto texto textotextotextotexto texto texto textotextotextotextotexto</p>

            <button type="button" class="botonIzq">ver animales</button>
            <button type="button" class="botonDere">Dar en adopcion</button>
        </div>


        <div class="columnaDere">
            <img src="../../../../../assets/Img perro y gato.jpg" alt="width: 80;">
        </div>

    </div>
</div>

<!--segundo componente-->
<div class="contenedor">
    <div class="row">
        <h1 class="h2">Servicios</h1>
        <div class="col" *ngFor="let i of info" id="contenido">
            <!-- LEE NUESTRO ARRAY INFO -->
               <img class="imagen" src="{{i.imagen}}" alt="{{i.alt}}">                
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title class="titulo"></mat-card-title>
                    </mat-card-header>
                    <!-- APLICAMOS INTERPOLACIÓN ej: {{i.imagen}} -->
                    
                    
                    <div class="content">
                     

                       
                        <mat-card-content>
                            <p class="pxp">
                                {{i.descripcion}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button class="boton">{{i.boton}}</button>
                        </mat-card-actions>
                    </div>    
                </mat-card>
        </div>
    </div>
</div>

<!-- Tercer Componente-->
<div class="row">
    <div class="contenedor2">
        <div class="col-i">
            <h1 class="h1-3">La adopcion es un acto de responsabilidad</h1> 
        </div>
        <div class="col-d">
            <h1 class="h1-2"></h1>
            <p class="na"></p>

            <h1 class="h1-2"></h1>
            <p class="na"></p> 
        </div>
    </div>
</div>


<!--Cuarto componente-->
<div class="flex justify-center mt-10">
    <div class="grid grid-cols-2 gap-8">
        <div>
            <h1 class="h2">¿Quiénes somos?</h1>
    
            <p class="h2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quod distinctio aperiam illum ea eum iure magni architecto delectus ab sequi sunt nam eaque voluptates dignissimos veniam, quidem suscipit tempore.</p>
        </div>
        <div>
            <div class="columnaDere">
                <div class="img-abajo">
                    <img class="image-1" src="../../../../../assets/image.1.png" alt="">
                    
                        <img class="image-2" src="../../../../../assets/Logo.svg" alt="">
                   
                </div>
            </div>
    
        </div>
    </div>

</div>



