<form class="flex flex-col gap-8" [formGroup]="perfilPublicoUpdate" (ngSubmit)="onSubmit()" (change)="formValuesChanged = true">
    <app-toast *ngIf="showToast" [msg]="msgToast" [severity]="severity" (showMsgEvent)="showToast = $event"></app-toast>

    <div class="flex flex-col gap-3 w-fit sm:mx-0 mx-auto">
        <div class="relative">
            <img id="userImgPreview" [src]="usuario.photoURL" alt="" class="rounded-full w-40 h-40" accept="image/*">
            <div class="absolute bottom-0 right-3 p-2 bg-neutral-50 rounded-full border border-neutral-secundario-100">
                <input (change)="onChangeImg($event)" type="file" class="absolute left-0 top-0 opacity-0 w-10 h-10">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#4D4D4D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"/><path d="m15 5 4 4"/>
                </svg>
            </div>
        </div>
        <span class="text-primario-100 text-center cursor-pointer" *ngIf="!usuario.photoURL.includes('37073846-dc65-4429-93c3-ac69ca63edab')" (click)="quitarFoto()">Quitar</span>
    </div>

    <div class="flex sm:flex-row flex-col w-full sm:gap-4 gap-8">
        <div class="w-full">
            <app-input idInput="nombre" label="Nombre" type="text" [control]="perfilPublicoUpdate.controls.nombre"></app-input>
        </div>

        <div class="w-full">
            <app-input idInput="apellido" label="Apellido" type="text" [control]="perfilPublicoUpdate.controls.apellido"></app-input>
        </div>
    </div>

    <div>
        <app-input idInput="email" label="Email" type="email" [control]="perfilPublicoUpdate.controls.email"></app-input>
    </div>

    <div>
        <app-input type="date" label="Fecha de nacimiento" idInput="fechaDeNacimiento" [control]="perfilPublicoUpdate.controls.fechaDeNacimiento"></app-input>
        <span *ngIf="perfilPublicoUpdate.controls.fechaDeNacimiento.errors?.['required'] && perfilPublicoUpdateIsSubmitted" class="error-msg-input">La fecha de nacimiento es requerida</span>
        <span *ngIf="!perfilPublicoUpdate.controls.fechaDeNacimiento.errors?.['required'] && perfilPublicoUpdate.controls.fechaDeNacimiento.errors?.['noEsMayor'] && perfilPublicoUpdateIsSubmitted" class="error-msg-input">Tenés que ser mayor a 18 años</span>
    </div>

    <app-button type="submit" class="primary" contenido="Guardar cambios"></app-button>
</form>
