app-input{
    width: 100%;
    border: 0;
    padding: 0;
}  

/* Estilos para que se vea el cursor pointer en el icono de editar foto */
input[type='file']{ 
    cursor: pointer;
    font-size: 0;
}