<div class="relative z-0">
    <input type="number" id="phone" class="text-neutral-primario border-neutral-secundario-100 block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-primario-100 peer pl-8" placeholder=" ">
    <label for="phone" class="text-neutral-secundario-100 absolute text-sm origin-[0] left-0 scale-75 -translate-y-6 peer-focus:text-primario-100 top-3">Teléfono</label>

    <span class="inline-block text-sm text-neutral-secundario-100 absolute left-0 top-1/4">+54</span>
</div>