<form id="container" class="w-6/12 mx-auto">
    <h2 class="titulos-2">Iniciar sesión</h2>
    <app-input type="email" label="Email" idInput="email"></app-input>

    <div class="w-full">
        <app-input type="password" label="Contraseña" idInput="password"></app-input>
        <a class="text-xs" routerLink="">¿Olvidaste tu contraseña?</a>
    </div>

    <app-primary-button contenido="Iniciar sesión"></app-primary-button>

    <app-button-auth-google class="w-full" contenido="Iniciar sesión con Google"></app-button-auth-google>

    <span class="self-start">¿No tenés cuenta? <a routerLink="">Crea una</a></span>
</form>