<form id="container" class="w-6/12 mx-auto">
    <h2 class="titulos-2">Iniciar sesión</h2>
    <app-input type="email" label="Email" id="email"></app-input>

    <div class="w-full">
        <app-input type="password" label="Contraseña" id="email"></app-input>
        <a class="text-xs" routerLink="">¿Olvidaste tu contraseña?</a>
    </div>

    <!-- <app-boton-primario class="w-full"></app-boton-primario> -->

    <app-boton-auth-google contenido="Iniciar sesión con Google"></app-boton-auth-google>

    <span class="self-start">¿No tenés cuenta? <a routerLink="">Crea una</a></span>
</form>