<div class="cards">
    <div class="card">
        <div class="flex justify-between items-center px-2.5">
            <!-- Foto y nombre del usuario -->
            <div class="flex justify-center items-center gap-2">
                <div class="foto-del-usuario" style="background-image: url('../../../../../assets/pelon.webp');">
                </div>
                <span class="nombre-del-usuario">Walter White</span>
            </div>
        </div>
        
        <div class="animal">
           
        </div>
        
        <div class="informacion">
            <p>
                texto
            </p>
        </div>
        <div>
            <app-primary-button contenido="Mas Info" class="boton"></app-primary-button>
        </div>
    </div>
    <div class="card">
        <div class="usuario">
            <div class="foto">
              
            </div>
    

        </div>
        
        <div class="animal">
          
        </div>
        
        <div class="informacion">
            <p>
                texto
            </p>
        </div>
        <div>
            <app-primary-button contenido="Mas Info" class="boton"></app-primary-button>
        </div>
    </div>
</div>




