<div class="cards">
    <div class="card">
        <div class="usuario">
            <img src="../../../../../assets/pelon.webp" alt="">

        </div>
        <hr>
        <div class="animal">
            <img class="imagen" src="../../../../../assets/michi.jpeg" alt="">
        </div>
        <hr>
        <div class="footer">
            <p>textotextotextotextotextotextotextotextotextotextotextotextotextotextotexto textotextotextotextotextotextotextotextotextotextotexto
                textotextotextotextotextotextotextotextotextotextotextotextotextotextotextotexto textotextotextotextotextotextotextotextotextotexto
                textotextotextotextotextotextotextotextotextotextotextotextotexto textotextotextotextotextotextotextotextotextotextotextotextotexto
                textotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotexto
            </p>
            <button class="boton">Mostrar mas informacion</button>
        </div>
    </div>
    <div class="card">
        <div class="usuario">
            <img src="../../../../../assets/pelon.webp" alt="">

        </div>
        <hr>
        <div class="animal">
            <img class="imagen" src="../../../../../assets/michi.jpeg" alt="">
        </div>
        <hr>
        <div class="footer">
            <p>textotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotexto
                textotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotexto
                textotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotexto
                textotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotexto
            </p>
            <button class="boton">Mostrar mas informacion</button>
        </div>
    </div>
</div>




