<div class="cards">
    <div class="card">
        <div class="usuario">
            <div class="foto">
                
            
            </div>

        </div>
        <hr>
        <div class="animal">
            <img class="imagen" src="../../../../../assets/michi.jpeg" alt="">
        </div>
        <hr>
        <div class="informacion">
            <p>textotextotextotextotextotextotextotextotextotextotextotextotextotextotexto textotextotextotextotextotextotextotextotextotextotexto
                textotextotextotextotextotextotextotextotextotextotextotextotextotextotextotexto textotextotextotextotextotextotextotextotextotexto
                textotextotextotextotextotextotextotextotextotextotextotextotexto textotextotextotextotextotextotextotextotextotextotextotextotexto
                textotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotexto
            </p>
        </div>
        <div class="boton">
            <app-primary-button contenido="Mas Info" class="boton"></app-primary-button>
        </div>
    </div>
    <div class="card">
        <div class="usuario">
            <div class="foto">
              
            </div>
    

        </div>
        <hr>
        <div class="animal">
            <img class="imagen" src="../../../../../assets/michi.jpeg" alt="">
        </div>
        <hr>
        <div class="informacion">
            <p>textotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotexto
                textotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotexto
                textotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotexto
                textotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotextotexto
            </p>
        </div>
        <div class="boton">
            <app-primary-button contenido="Mas Info" class="boton"></app-primary-button>
        </div>
    </div>
</div>




