<div class="lg:w-6/12 md:w-8/12 w-11/12 mx-auto pt-6 flex flex-col gap-4">
    <div id="configOptionsTrigger" data-dropdown-toggle="configOptions" class="text-xl font-semibold text-neutral-primario flex items-center cursor-pointer">
        <h1 class="titulos-2">Datos personales</h1>

        <!-- Icono para abrir las opciones de configuración -->
        <div *ngIf="!configOptionsOpen">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
        </div>
    
        <!-- Icono para cerrar las opciones de configuración -->
        <div *ngIf="configOptionsOpen">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-up"><path d="m18 15-6-6-6 6"/></svg>
        </div>
    </div>

    <app-divider></app-divider>

    <app-config-datos-personales></app-config-datos-personales>
</div>
