<div class="relative z-0">
    <input [id]="idInput" [attr.list]="idList" [(ngModel)]="searchItem" class="text-neutral-primario border-neutral-secundario-100 block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-primario-100 peer" placeholder=" ">
    <label [for]="idInput" class="text-neutral-secundario-100 absolute text-sm duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:text-primario-100">{{label}}</label>

    <datalist [id]="idList">
        <option *ngFor="let item of list | filter: searchItem" [value]="item | titlecase">{{item | titlecase}}</option>
    </datalist>
</div>