.contenedor{
    margin: 50px;
    display: flex;
    margin-top: 200px;
}
.izquierdo{
    width: auto;
    height: auto;

    margin-left: 250px;
    margin-right: 50px;
}

.derecho{
    width: 600px;
    height: auto;
    background-color: aqua;
}

.h1{
    width: 250px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.p{
    width: 250px;
    text-align: center;
    align-items: center;
    justify-content: center;
}