
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

            <div class="contenedor">
                <div class="izquierdo">
                    <h1>texto tecto fds gdfd</h1>
                    <p>feqwfqfqfqfqfqfq3ffqfqwfqwqwffrwef</p>
                    <button type="button" class="btn btn-danger">ver animales</button>
                    <button type="button" class="btn btn-outline-danger">Dar en adopcion</button>
                </div>
                <div class="derecho">
                    <img src="../../../../../assets/Img perro y gato.jpg" alt="width: 100;">
                </div>
            </div>
>

