

<div class="grid gap-4 px-4 md:px-8 lg:px-32">

    <div class="grid md:grid-cols-2 md:items-center">
  
      <div class="md:order-2">
        <img src="../../../../../assets/Img perro y gato.jpg" alt="Perro y gatos" class="mx-auto md:mx-0"> 
      </div>
  
      <div class="text-center md:text-left md:order-1">
  
        <p class="text-6xl font-bold mb-4 text-[#2E2E2E]">Encuentra a tu mascota</p>
  
        <p class="mb-4 text-2xl text-[#4D4D4D]">Busca en nuestro catálogo de adopcion animal y encuentra a tu nuevo mejor amigo</p>
  
        <div class="flex flex-col md:flex-row">
            <app-button contenido="Adoptar" size="large" class="primary  w-full mb-4 md:mr-1" routerlink="animales" routerLink="/animales"></app-button>
            <app-button contenido="Dar en adopcion" size="large" class="secondary w-full" routerLink="/dar-en-adopcion"></app-button>  
        </div>
  
      </div>
  
    </div>
    
  </div>
