<form id="register" class="lg:w-6/12 md:w-8/12 w-11/12 mx-auto">
  <h2 class="titulos-2">Datos personales</h2>

  <div class="flex sm:flex-row flex-col w-full sm:gap-4 gap-8">
    <app-input type="text" label="Nombre" idInput="nombre"></app-input>
    <app-input type="text" label="Apellido" idInput="apellido"></app-input>
  </div>

  <app-input type="date" label="Fecha de nacimiento" idInput="fechaDeNacimiento"></app-input>

  <app-search-select label="Provincia" idInput="provincia" idList="provincias" [list]="provincias"></app-search-select>

  <div class="w-full text-neutral-secundario-100">
    <span>Tipo de vivienda</span>
    <app-input-radio valueInput="Casa" name="tipoDeVivienda"></app-input-radio>
    <app-input-radio valueInput="Departamento" name="tipoDeVivienda"></app-input-radio>
  </div>

  <div class="grid grid-cols-3 sm:grid-cols-5 w-full gap-2">
    <app-input class="col-span-2 sm:col-span-4" type="text" label="Calle" idInput="calle"></app-input>
    <app-input type="number" label="Número" idInput="numVivienda"></app-input>
  </div>

  <app-input-phone></app-input-phone>

  <app-input type="number" idInput="dni" label="DNI"></app-input>

  <div class="flex gap-1">
    <app-input-checkbox class="flex mt-0.5" idInput="terminos-y-condiciones"></app-input-checkbox>
    <span class="text-neutral-secundario-100">
      Acepto los <a href="">términos y condiciones</a> y permito el uso de mis datos según la <a href="">política de privacidad</a>.
    </span>
  </div>

  <app-button class="primary w-full" contenido="Registrarse"></app-button>
</form>
