<form id="register" class="lg:w-6/12 md:w-8/12 w-11/12 mx-auto">
    <h2 class="titulos-2">Registrarse</h2>

    <app-button-auth-google class="w-full" contenido="Continuar con Google"></app-button-auth-google>

    <div class="w-full flex flex-row gap-3.5 items-center justify-center">
        <app-divider class="w-full"></app-divider>
        <span class="text-neutral-secundario-100">o</span>
        <app-divider class="w-full"></app-divider>
    </div>

    <app-input type="email" label="Email" idInput="email"></app-input>

    <app-input-password label="Contraseña" idInput="password"></app-input-password>

    <app-input-password label="Repetir contraseña" idInput="repeatPassword"></app-input-password>

    <app-button routerLink="/second-register" class="w-full primary" size="large" contenido="Siguiente"></app-button>
    
    <span class="self-start">¿Ya tenés una cuenta? <a routerLink="/login">Incia sesión</a></span>
</form>