<nav class="navbar sticky top-0">
    <div class="flex flex-warp items-center mx-auto p-2">
        <a routerLink="#" class="flex items-center mr-20">
            <img src="../../../../assets/Logo.svg" alt="AdoptMe Logo" class="h-10 mr-3">
            <span class="font-bold self-center text-3xl">AdoptMe</span>
        </a>
        <div class=" w-full flex md:w-auto prueba md:flex-none">
          
             <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 ">
             
              <li>
                <a href="#" class="block py-2 pl-5 pr-4 mr-5 typography ">Inicio</a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-5 pr-4  mr-5 typography :">Animales</a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-5 pr-4  mr-5 typography :">Cuidados</a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-5 pr-4  mr-5 typography :">Contacto</a>
              </li>
            </ul>
         
          
          
            <div class="section-button right-0 mr-5 font-medium flex flex-col p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0">
              <app-button class="primary" contenido="Ingresar"></app-button>
              <app-button class="secondary" contenido="Registrarse"></app-button>
            </div>
        </div>
    </div>
</nav>




