<div class="flex flex-row md:flex-col max-w-screen-lg mx-auto px-8 m-14">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div>
            <p class="text-6xl font-bold mb-4 text-[#2E2E2E] text-center mb-8 ">¿Quiénes somos?</p>
    
            <p class="text-gray-700 mb-4 mx-auto text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quod distinctio aperiam illum ea eum iure magni architecto delectus ab sequi sunt nam eaque voluptates dignissimos veniam, quidem suscipit tempore.</p>
        </div>
        <div>
            <div class="columnaDere">
                <div class="img-abajo">
                    <img class="image-1 w-full h-96 object-cover" src="../../../../../assets/Salchicha.jpg" alt="">
                    
                        <img class="image-2 w-full h-96 object-cover right-50 md:right-0" src="../../../../../assets/Logo.svg" alt="">
                   
                </div>
            </div>
    
        </div>
    </div>

</div>

