<div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
        <!-- Modal header -->
        <div class="flex items-center justify-between py-4 pr-4 pl-8 border-b">
            <h3 class="text-xl font-semibold text-neutral-primario">
              NOMBRE ANIMAL
            </h3>
            <!-- BOTON PARA CERRAR EL MODAL -->
            <button type="button" class="text-neutral-secundario-50 bg-transparent focus:bg-gray-200 hover:text-neutral-secundario-100 rounded-full text-sm w-8 h-8 ml-auto inline-flex justify-center items-center" data-modal-hide="defaultModal">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M18 6 6 18"/><path d="m6 6 12 12"/>
              </svg>
                <span class="sr-only">Close modal</span>
            </button>
        </div>
        <!-- INFORMACION DEL ANIMAL -->
        <div class="pt-5 w-11/12 mx-auto flex justify-between">
          <div class="grid justify-items-center">
            <span class="font-bold text-neutral-primario">Edad</span>
            <span>Cachorro</span>
          </div>
          <div class="grid justify-items-center">
            <span class="font-bold text-neutral-primario">Castrado</span>
            <span>Si</span>
          </div>
          <div class="grid justify-items-center">
            <span class="font-bold text-neutral-primario">Sexo</span>
            <span>Por favor</span>
          </div>
          <div class="grid justify-items-center">
            <span class="font-bold text-neutral-primario">Raza</span>
            <span>Calle</span>
          </div>
        </div>
        <div class="p-8">
          <p class="font-semibold text-neutral-primario">Descripcion del animal</p>
          <span>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, pariatur. Sint rem sed temporibus nobis ab laboriosam, cumque incidunt quam? Explicabo velit quasi molestias? Nulla assumenda temporibus voluptatibus possimus vero?
          </span>
        </div>
        <!--REQUISITOS-->
        <div class="px-8 pb-5">
          <p class="font-semibold text-neutral-primario">Requisitos</p>
          <span>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, pariatur. Sint rem sed temporibus nobis ab laboriosam, cumque incidunt quam? Explicabo velit quasi molestias? Nulla assumenda temporibus voluptatibus possimus vero?
          </span>
        </div>
        <!-- Modal footer -->
        <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
          <app-button class="primary w-full" contenido="Solicitar adopción"></app-button>
        </div>
    </div>
  </div>
</div>
