app-input{
  width: 100%;
  padding: 0;
  border: 0;
}

form{
    display: flex;
    padding: 1.25rem 1.875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
