<form [formGroup]="darEnAdopcion" (ngSubmit)="onSubmit()" class="flex flex-col justify-center lg:w-6/12 md:w-8/12 w-11/12 mx-auto">
  <h1 class="titulos-2">Dar en adopción</h1>

  <app-toast *ngIf="showMsg" (showMsgEvent)="showMsg = $event" severity="success" msg="Se publicó al animal con éxito." class="w-full"></app-toast>

  <!--se especifica el animal (gato o perro)-->
  <div>
    <div class="flex gap-4 items-center">
      <button type="button" (click)="darEnAdopcion.controls.animal.setValue('Perro')" class="border border-neutral-secundario-50 text-neutral-primario rounded-md w-20 h-20 flex flex-col justify-center items-center hover:bg-hover" [ngClass]="{'border-primario-80 text-primario-100': darEnAdopcion.controls.animal.value == 'Perro'}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-auto">
          <path d="M10 5.172C10 3.782 8.423 2.679 6.5 3c-2.823.47-4.113 6.006-4 7 .08.703 1.725 1.722 3.656 1 1.261-.472 1.96-1.45 2.344-2.5"/><path d="M14.267 5.172c0-1.39 1.577-2.493 3.5-2.172 2.823.47 4.113 6.006 4 7-.08.703-1.725 1.722-3.656 1-1.261-.472-1.855-1.45-2.239-2.5"/><path d="M8 14v.5"/><path d="M16 14v.5"/><path d="M11.25 16.25h1.5L12 17l-.75-.75Z"/><path d="M4.42 11.247A13.152 13.152 0 0 0 4 14.556C4 18.728 7.582 21 12 21s8-2.272 8-6.444c0-1.061-.162-2.2-.493-3.309m-9.243-6.082A8.801 8.801 0 0 1 12 5c.78 0 1.5.108 2.161.306"/>
        </svg>
        Perro
      </button>
      <p class="">O</p>
      <button type="button" (click)="darEnAdopcion.controls.animal.setValue('Gato')" class="border border-neutral-secundario-50 text-neutral-primario rounded-md w-20 h-20 flex flex-col justify-center items-center hover:bg-hover" [ngClass]="{'border-primario-80 text-primario-100': darEnAdopcion.controls.animal.value === 'Gato'}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-auto">
          <path d="M12 5c.67 0 1.35.09 2 .26 1.78-2 5.03-2.84 6.42-2.26 1.4.58-.42 7-.42 7 .57 1.07 1 2.24 1 3.44C21 17.9 16.97 21 12 21s-9-3-9-7.56c0-1.25.5-2.4 1-3.44 0 0-1.89-6.42-.5-7 1.39-.58 4.72.23 6.5 2.23A9.04 9.04 0 0 1 12 5Z"/><path d="M8 14v.5"/><path d="M16 14v.5"/><path d="M11.25 16.25h1.5L12 17l-.75-.75Z"/>
        </svg>
        Gato
      </button>
    </div>
    <span *ngIf="darEnAdopcion.controls.animal.errors?.['required'] && darEnAdopcionIsSubmitted" class="error-msg-input">Eleguir al animal es requerido</span>
  </div>

  <!--ingresa el nombre del animal-->
  <div class="w-full flex flex-col gap-7">
    <app-input label="Nombre (opcional)" type="text" idInput="nombre" [control]="darEnAdopcion.controls.nombre"></app-input>

    <!--se ingresa la edad del animal-->
    <div>
      <app-select idSelect="edad" label="Edad" [list]="edad" [control]="darEnAdopcion.controls.edad"></app-select>
      <span *ngIf="darEnAdopcion.controls.edad.errors?.['required'] && darEnAdopcionIsSubmitted" class="error-msg-input">La edad es requerida</span>
    </div>

    <!--se especifica el sexo del animal-->
    <div>
      <h6 class="text-neutral-secundario-100">Sexo</h6>
      <app-input-radio valueInput="Macho" name="sexo" [control]="darEnAdopcion.controls.sexo"></app-input-radio>
      <app-input-radio valueInput="Hembra" name="sexo" [control]="darEnAdopcion.controls.sexo"></app-input-radio>
      <span *ngIf="darEnAdopcion.controls.sexo.errors?.['required'] && darEnAdopcionIsSubmitted" class="error-msg-input">El sexo es requerido</span>
    </div>

    <!--se especifica si el animal esta castrado o no-->
    <div>
      <app-input-checkbox label="Castrado" idInput="castrado" [control]="darEnAdopcion.controls.castrado"></app-input-checkbox>
    </div>

    <!--se especifica la raza del animal-->
    <div>
      <app-search-select idInput="raza" idList="razas" label="Raza" [list]="razas" [control]="darEnAdopcion.controls.raza"></app-search-select>
      <span *ngIf="darEnAdopcion.controls.raza.errors?.['required'] && darEnAdopcionIsSubmitted" class="error-msg-input">La raza es requerida</span>
      <span *ngIf="!darEnAdopcion.controls.raza.errors?.['required'] && darEnAdopcion.controls.raza.errors?.['wrongOption'] && darEnAdopcionIsSubmitted" class="error-msg-input">Opción incorrecta</span>
    </div>

    <!--se ingresa la provincia-->
    <div>
      <app-select idSelect="provincia" label="Provincia" [list]="provincia" [control]="darEnAdopcion.controls.provincia"></app-select>
      <span *ngIf="darEnAdopcion.controls.provincia.errors?.['required'] && darEnAdopcionIsSubmitted" class="error-msg-input">La provincia es requerida</span>
    </div>

    <!--se ingresa la ciudad-->
    <div>
      <app-select idSelect="ciudad" label="Ciudad" [list]="ciudad" [control]="darEnAdopcion.controls.ciudad"></app-select>
      <span *ngIf="darEnAdopcion.controls.ciudad.errors?.['required'] && darEnAdopcionIsSubmitted" class="error-msg-input">La ciudad es requeridad</span>
    </div>

    <!--agregar imagenes del animal-->
    <div>
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="default_size">Default size</label>
      <input (change)="onChange($event)" class="block w-full mb-5 text-sm text-gray-900 border border-gray-300 rounded-md cursor-pointer bg-gray-50 focus:outline-none" id="imgs" type="file" multiple>
      <span *ngIf="files.length == 0 && darEnAdopcionIsSubmitted" class="error-msg-input">Se requiere mínimo una imagen del animal</span>
      <span *ngIf="files.length > 3 && darEnAdopcionIsSubmitted" class="error-msg-input">Se pueden subir 3 imagenes máximo</span>
    </div>

    <!--ingresar los requisitos y la descripcion del animal-->
    <div>
      <app-textarea placeholder="Descripción" [rows]=6 [control]="darEnAdopcion.controls.descripcion"></app-textarea>
      <span *ngIf="darEnAdopcion.controls.descripcion.errors?.['required'] && darEnAdopcionIsSubmitted" class="error-msg-input">La descripción es requerida</span>
    </div>

    <app-textarea placeholder="Requisitos (opcional)" [rows]=6 [control]="darEnAdopcion.controls.requisitos"></app-textarea>

    <!--boton para ´publicar en adopcion al animal-->
    <app-button type="submit" class="primary w-full" [contenido]="!loading ? 'Publicar' : ''" [disabled]="loading">
      <app-spinner-loading *ngIf="loading"></app-spinner-loading>
    </app-button>
  </div>
</form>
