button{
    display: flex;
    height: 52px;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    border: 1px solid var(--neutral-secundario-50);
    font-weight: 600;
    color: var(--neutral-secundario);
}

button:hover{
    background-color: var(--hover);
}