
<footer class="bg-white rounded-lg shadow dark:bg-gray-900">
    <div class="w-screen max-w-screen-xl mx-auto">
        <div class="flex">
           
            <div class="flex flex-row flex-wrap items-center uppercase mb-6 sm:mb-0">
                
                    <div class="">
                        <h2 class="mb-6 text-sm font-bold uppercase title-list">Contacto</h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="tipografia">
                                <a href="tel:299589999" class="hover:underline">+54 *******</a>
                            </li>
                            <li class="tipografia">
                                <a href="mailto:gonza.latorre21@gmail.com" class="hover:underline">Mandanos un email</a>
                            </li>
                        </ul>
                    </div>
                
                
                    <div class="">
                        <h2 class="mb-6 text-sm font-bold uppercase title-list">Redes Sociales</h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="tipografia">
                                <a href="#" class="hover:underline">Instagram</a>
                            </li>
                            <li class="tipografia">
                                <a href="#" class="hover:underline">Facebook</a>
                            </li>
                            <li class="tipografia">
                                <a href="#" class="hover:underline">Twitter</a>
                            </li>
                        </ul>
                    </div>
                
            </div>

            <a href="https://flowbite.com/" class="flex flex-col items-center mb-4 sm:mb-0">
                <img src="../../../../assets/Logo.svg" class="" alt="AdoptMe Logo" />
                <span class="text-3xl font-semibold">AdoptMe</span>
                
            </a>
        </div>
        
    </div>
    <hr class="lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-start p-2">© 2023 <a href="">DevFlamingo</a> AdoptMe</span>
</footer>


