
<footer class="bg-white rounded-lg shadow dark:bg-gray-900">
    <div class="w-full max-w-screen-xl mx-auto">
        <div class="sm:flex sm:items-center sm:justify-between">
           
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li class="flex  flex-col mr-2">
                    <a href="#" class="mr-4 font-semibold hover:underline md:mr-6 ">Contacto</a>
                    <a href="#" class="mr-4 md:mr-6">+54 telefono</a>
                    <a href="#" class="mr-4 md:mr-6">Email@gmail.com</a>
                </li>
                <li class="flex flex-col mr-2">
                    <a href="#" class="mr-4 font-semibold hover:underline md:mr-6">Redes Sociales</a>
                    <a href="#" class="mr-4 md:mr-6">@Instagram</a>
                    <a href="#" class="mr-4 md:mr-6">Facebook</a>
                   
                </li>
                <li class="flex flex-col mr-2">
                    <a href="#" class="mr-4 font-semibold hover:underline md:mr-6 ">Aviso legal</a>
                    <a href="#" class="mr-4 md:mr-6">Términos y condiciones</a>
                    <a href="#" class="mr-4 md:mr-6">Política de privacidad</a>
                </li>
                <li class="flex flex-col mr-2">
                    <a href="#" class="font-semibold hover:underline">Equipo de desarollo</a>
                    <a href="#" class="mr-4 md:mr-6">DevFlamingo</a>
                </li>
                <li class="flex flex-col mr-2">
                    <a href="#" class="font-semibold hover:underline">Créditos</a>
                    <a href="#" class="mr-4 md:mr-6">Imagenes de freepik</a>
                    <a href="#" class="mr-4 md:mr-6">Refugio </a>
                </li>
            </ul>

            <a href="https://flowbite.com/" class="flex flex-col items-center mb-4 sm:mb-0">
                <img src="../../../../assets/Logo.svg" class="" alt="AdoptMe Logo" />
                <span class="text-3xl font-semibold">AdoptMe</span>
                
            </a>
        </div>
        
    </div>
    <hr class="lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-start p-2">© 2023 <a href="">DevFlamingo</a> AdoptMe</span>
</footer>


