
<footer class="bg-white rounded-lg shadow dark:bg-gray-900">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
           
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li class="flex flex-col">
                    <a href="#" class="mr-4 font-semibold hover:underline md:mr-6 ">About</a>
                </li>
                <li>
                    <a href="#" class="mr-4 font-semibold hover:underline md:mr-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="#" class="mr-4 font-semibold hover:underline md:mr-6 ">Licensing</a>
                </li>
                <li>
                    <a href="#" class="font-semibold hover:underline">Contact</a>
                </li>
                <li>
                    <a href="#" class="font-semibold hover:underline">Contact</a>
                </li>
            </ul>

            <a href="https://flowbite.com/" class="flex flex-col items-center mb-4 sm:mb-0">
                <img src="../../../../assets/Logo.svg" class="" alt="AdoptMe Logo" />
                <span class="text-3xl font-semibold">AdoptMe</span>
                
            </a>
        </div>
        
    </div>
    <hr class="lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-start p-2">© 2023 <a href="">DevFlamingo</a> AdoptMe</span>
</footer>


