<div class="flex flex-col gap-12">
    <div class="flex flex-col gap-4">
        <div>
            <span class="font-bold text-neutral-primario text-lg">Cambiar contraseña</span>
            <p class="text-neutral-secundario-100">Se enviara un correo al email ingresado para que restablezcas tu contraseña.</p>
        </div>
        <app-input idInput="email" label="Email"></app-input>
        <app-button type="button" class="primary" contenido="Enviar correo"></app-button>
    </div>
    
    <div class="flex flex-col gap-2">
        <span class="font-bold text-neutral-primario text-lg">Eliminar tu cuenta</span>
        <app-button type="button" class="primary" contenido="Eliminar cuenta"></app-button>
    </div>
</div>