<div class="flex flex-col gap-12">
    <div class="flex flex-col gap-4">
        <span class="font-bold text-neutral-primario text-lg">Cambiar contraseña</span>
        <app-input-password idInput="password" label="Contraseña actual"></app-input-password>
        <app-button type="button" class="primary" contenido="siguiente"></app-button>
    </div>
    
    <div class="flex flex-col gap-2">
        <span class="font-bold text-neutral-primario text-lg">Eliminar tu cuenta</span>
        <app-button type="button" class="primary" contenido="Eliminar cuenta"></app-button>
    </div>
</div>