<form [formGroup]="datosPersonalesUpdate" (ngSubmit)="onSubmit()" (change)="formChange()" class="flex flex-col gap-8">
    <app-toast *ngIf="showToast" [msg]="msgToast" [severity]="severity" (showMsgEvent)="showToast = $event"></app-toast>
    
    <div class="w-full">
        <app-select idSelect="ciudades" label="Ciudad" [list]="ciudades" [control]="datosPersonalesUpdate.controls.ciudad"></app-select>
        <span *ngIf="datosPersonalesUpdate.controls.ciudad.errors?.['required'] && datosPersonalesUpdateIsSubmitted" class="error-msg-input">La ciudad es requerida</span>
    </div>

    <div class="w-full text-neutral-secundario-100">
        <span>Tipo de vivienda</span>
        <app-input-radio valueInput="Casa" name="tipoDeVivienda" [control]="datosPersonalesUpdate.controls.tipoDeVivienda"></app-input-radio>
        <app-input-radio valueInput="Departamento" name="tipoDeVivienda" [control]="datosPersonalesUpdate.controls.tipoDeVivienda"></app-input-radio>
        <span *ngIf="datosPersonalesUpdate.controls.tipoDeVivienda.errors?.['required'] && datosPersonalesUpdateIsSubmitted" class="error-msg-input">El tipo de vivienda es requerida</span>
    </div>

    <div class="w-full">
        <app-input-phone [control]="datosPersonalesUpdate.controls.telefono"></app-input-phone>
        <span *ngIf="datosPersonalesUpdate.controls.telefono.errors?.['required'] && datosPersonalesUpdateIsSubmitted" class="error-msg-input">El télefono es requerido</span>
    </div>

    <div class="w-full">
        <app-input type="number" idInput="dni" label="DNI" class="w-100 p-0 border-none" [control]="datosPersonalesUpdate.controls.dni"></app-input>
        <span *ngIf="datosPersonalesUpdate.controls.dni.errors?.['required'] && datosPersonalesUpdateIsSubmitted" class="error-msg-input">El DNI es requerido</span>
    </div>

    <app-button type="submit" class="primary" contenido="Guardar cambios"></app-button>
</form>
