<form class="flex flex-col gap-8">
    <div class="w-full">
        <app-select idSelect="ciudades" label="Ciudad" [list]="ciudades" [control]="datosPersonalesUpdate.controls.ciudad"></app-select>
    </div>

    <div class="w-full text-neutral-secundario-100">
        <span>Tipo de vivienda</span>
        <app-input-radio valueInput="Casa" name="tipoDeVivienda"></app-input-radio>
        <app-input-radio valueInput="Departamento" name="tipoDeVivienda"></app-input-radio>
    </div>

    <div class="w-full">
        <app-input-phone></app-input-phone>
    </div>

    <div class="w-full">
        <app-input type="number" idInput="dni" label="DNI" class="w-100 p-0 border-none"></app-input>
    </div>

    <app-button type="submit" class="primary" contenido="Guardar cambios"></app-button>
</form>
