<form [formGroup]="resetPassword" (ngSubmit)="onSubmit()" class="lg:w-6/12 md:w-8/12 w-11/12 mx-auto">
    <h2 class="titulos-2">Cambiar la contraseña</h2>

    <app-toast (showMsgEvent)="showMsg = $event" *ngIf="showMsg" [severity]="severityToast" [msg]="msgContent" class="w-full"></app-toast>

    <div class="w-full">
        <app-input class="w-full p-0 border-none" type="email" label="Email" idInput="email" [control]="resetPassword.controls.email"></app-input>
        <span *ngIf="resetPassword.controls.email.errors?.['required'] && resetPasswordIsSubmitted" class="error-msg-input">El email es requerido</span>
    </div>

    <app-button class="primary w-full" type="submit" contenido="Enviar correo"></app-button>
</form>