@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primario-100: #8B2522;
    --primario-80: #6F1D1B;
    --blanco: #fff;
    --neutral-primario: #2E2E2E;
    --neutral-secundario-100: #4D4D4D;
    --neutral-secundario-50: #4d4d4d80;
    --hover: #F5F4FB;
}

*{
    font-family: 'Poppins', sans-serif;
}

/* Cuando la pantalla sea mayor a 640px */
@media (min-width: 640px){
    .titulos-2{
        color: var(--neutral-primario);
        font-weight: 600;
        font-size: 2.25rem;
    }
}

.titulos-2{
    color: var(--neutral-primario);
    font-weight: 600;
    font-size: 1.8rem;
}

.error-msg-input{
    color: #dc2626;
    font-size: 0.875rem;
    line-height: 1.25rem
}